
    @use 'variables'
.etiqueta-descuento // Etiqueta de descuento 
    position: absolute
    top: 15px
    left: 15px
    background-color: variables.$color-button-texto
    padding: 5px 10px
    font-size: variables.$tam-text-buttom
    font-weight: bold
    border-radius: variables.$radio-borde
    z-index: 2



.temporizador // Temporizador
    font-size: variables.$tamanio-texto
    margin-bottom: 20px
    color: variables.$color-texto
    font-weight: 500
    margin-bottom: variables.$espaciado-md    
    


#countdown
    font-weight: bold
    color: #d10000


.tachado
    text-decoration: line-through
    color: #888    

.precio
    margin: 10px 0
    font-size: variables.$tamanio-texto
    color: variables.$color-texto

    &-descuento
        color: #e84600    