
$color-primario: #F85F6A
$color-secundario: #6c757d
$color-fondo-sesion: linear-gradient(150deg, #7800f8, #f84b00)
$color-fondo-button: #d8482e
$color-texto: #212529
$color-error: #dc3545
$color-exito: #28a745
$color-fondo: #f8f9fa
$color-borde: #cccccc
$color-button-texto: #ffffff
$sombra-suave: 0 2px 6px #0000001a
$sombra-media: 0 4px 10px #00000026
$sombra-intensa: 0 8px 20px #00000033
$color-hover: #f84b00

$fuente-base: 'Arial', sans-serif
$tamanio-texto: 16px
$titulo-xl: 2rem
$titulo-md: 1.5rem
$titulo-sm: 1.25rem

$espaciado-xs: 4px
$espaciado-sm: 8px
$espaciado-md: 16px
$espaciado-lg: 24px
$espaciado-xl: 32px

$ancho-maximo: 1200px
$altura-header: 60px
$radio-borde: 8px
$alto-button: 48px
$ancho-button: 280px
$tam-text-buttom: 18px

$facebook: url('../assets/facebook.png')
$twitter: url('../assets/X.png')
$instagram: url('../assets/instagram.png')
$youtube: url('../assets/facebook.png')
